<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ metadata.title }}</title>
        <meta name="description" content="{{ metadata.description }}">
        <meta name="author" content="{{ metadata.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({activeListItemClass:'active', activeKey: eleventyNavigation.key}) | safe }}
    </nav>
    <body>
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        <aside>
            <h2>Neues von entwickler.de</h2>
            {%- for post in entwickler -%}
                <ul>
                    <li>
                        <a href="{{post.link}}">{{post.title}} von {{post.creator}}</a>
                    </li>
                </ul>

            {%- endfor -%}
        </aside>
    </body>

</html>