---
layout: layout.njk
title: Unsere erste 11ty Seite
eleventyNavigation:
  key: Startseite
  order: 1
---
{% block content %}
    <h2>Alle Blogbeiträge</h2>
    <ul>
        {%- for post in collections.post -%}
            <li>
                <time datetime="{{ post.date | toIsoString }}">{{ post.date | toReadableDate }}</time>
                <a href="{{post.url}}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
{% endblock %}